<!doctype html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1>An error occured</h1>
    <!-- message passed in by file.controller and page.controller functions -->
    <p><%= message || "Something went wrong. Please try again later." %></p>
    <a href="/">Return to Home</a>
  </body>
</html>
