<!doctype html>
<html>
  <head>
    <!-- title passed in from renderHome page.controller function -->
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1>Welcome!</h1>
    </header>
    <main>
      <p><a href="/auth">Please register or log in</a></p>
    </main>
  </body>
</html>
